# Postgresql Database
DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/db

# Redis
REDIS_URL=redis://redis:6379/0

# API
API_URL=http://api:8000
PUBLIC_API_URL=http://localhost:8000

# OpenAI
OPENAI_API_KEY=YOUR_API_KEY